* {
   padding: 0;
   margin: 0;
   text-decoration: none;
   list-style: none;
   box-sizing: border-box;
}

/* Toda página */
.all-page {
   background-color: #fffcf7;
}

/* Navbar */

.navbar {
   background-color: #2f4f4f;
   color: white;
}
.navbar-brand img {
   width: 50px;
}
.navbar-nav .nav-item a {
   color: white;
}
.navbar-nav .nav-item a:hover {
   color: orange;
}
.navbar-nav .nav-item .foot-prints {
   width: 30px;
}

/* Área de apresentação */

.section-presentation {
   width: 85%;
   box-shadow: 0px 0px 10px 1px #2f4f4f;
   margin: 4rem 0;
   font-weight: 500;
   background-color: #fffcf7;
}
.section-presentation:hover {
   box-shadow: 0px 0px 10px 3px #2f4f4f;
}
.carousel-inner {
   box-shadow: 0px 0px 17px 1px #c6d8cb;
}
.carousel-item img {
   width: 100%;
   max-height: 400px;
}

/* CURIOSITIES AREA*/

#curiosities {
   max-width: 100%;
   background-color: #fdf6e9;
   overflow-x: hidden;
}
.image-section {
   position: relative;
   width: 0;
 }
 
.images {
   display: block;
   width: 100%;
   height: auto;
}

/* ABRE Overlays */
.overlay {
   position: absolute;
   background-color: #2f4f4fe9;
   overflow: hidden;
   transition: .5s ease;
}
/* Overlay 1 */
.goals .row:nth-child(1) .image-section .overlay {
   border-radius: 0px 0px 50% 50%;
   bottom: 100%;
   left: 0;
   right: 0;
   height: 0;
   width: 100%;
}
/* Overlay 2 */
.goals .row:nth-child(2) .image-section .overlay {
   border-radius: 50% 0px 0px 50%;
   bottom: 0;
   right: 0;
   width: 0;
   height: 100%;
}
/* Overlay 3 */
.goals .row:nth-child(3) .image-section .overlay {
   border-radius: 0px 50% 50% 0px;
   bottom: 0;
   left: 0;
   right: 100%;
   width: 0;
   height: 100%;
}
/* OVERLAYs HOVER */
.goals .row:nth-child(1) .image-section:hover .overlay {
   height: 100%;
   bottom: 0;
}
.goals .row:nth-child(2) .image-section:hover .overlay {
   width: 100%;
   height: 100%;
}
.goals .row:nth-child(3) .image-section:hover .overlay {
   width: 100%;
   left: 0;
}
/* FECHA OVERLAY */
.showDescriptionImg {
   color: white;
   font-size: 20px;
   position: absolute;
   top: 50%;
   left: 50%;
   -webkit-transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
   text-align: center;
}
.text-section {
   font-size: 1.4rem;
   font-weight: 400;
}
.text-section .title-div {
   text-decoration: underline;
   text-decoration-thickness: 2px;
}